/*
    Globals
*/

html, body {
    height: 100%;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    height: 100%;
    width: 100%;
}

form input {
    position: relative;
    width: 80%;
    height: 100%;
    padding: 10px 0;
}

form input:focus {
    outline: none;
}

form button {
    position: absolute;
    height: 100%;
    width: 20%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px 0;
}

/*
    Online Users
*/

.chat-room {
    position: relative;
    height: 100%;
    padding: 0;
    margin-left: 0;
}

.online-users {
    border-right: solid grey 2px;
    height: 100%;
    padding: 5px;
    background-color: whitesmoke;
}

/*
    Messages
*/

.chat-box {
    padding: 0px;
    height: 95%;
    overflow: scroll;

}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

/*
    Message form
*/
.msg-form {
    padding: 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 5%;
}

/*
    Join Modal
*/

.join-button {
    position: relative;

}