<!DOCTYPE html>
<html>
  <head>
    <title>Chat-app</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/elements.css">
  </head>
  <body>

    <div class="container">
			<h1>Chat app</h1>
    </div>

    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="javascripts/client.js"></script>
  </body>
</html>